<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.bstest.demos.web.mapper.StrategyMapper">
    <resultMap id="BaseResultMap" type="com.ke.marvel.common.pojov3.po.SctfSjRetryTaskPO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="source_primary_key" jdbcType="VARCHAR" property="sourcePrimaryKey"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="expected_retry_time" jdbcType="TIMESTAMP" property="expectedRetryTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="content" jdbcType="VARCHAR" property="realTimeSjDTOStr"/>
        <result column="retry_count" jdbcType="INTEGER" property="retryCount" />
    </resultMap>
    <sql id="Base_Column_List">
        id, source_primary_key, create_time, expected_retry_time, update_time, status, content, retry_count
    </sql>
    <sql id="Table_Name">
        `sctf_sj_retry_task`
    </sql>

    <insert id="insert" parameterType="com.ke.marvel.common.pojov3.po.SctfSjRetryTaskPO">
        INSERT INTO
        <include refid="Table_Name"/>
        (`source_primary_key`, `create_time`, `expected_retry_time`, `status`, `content`, `retry_count`)
        VALUES (#{sourcePrimaryKey}, #{createTime}, #{expectedRetryTime}, #{status}, #{realTimeSjDTOStr}, #{retryCount})
    </insert>

    <select id="getList" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="Table_Name"/>
        <where>
            <if test="expectedRetryTime != null">
                expected_retry_time &lt;= #{expectedRetryTime}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
        </where>
        LIMIT #{offset}, #{size}
    </select>


    <update id="update" parameterType="com.ke.marvel.common.pojov3.po.SctfSjRetryTaskPO">
        UPDATE
        <include refid="Table_Name"/>
        SET
        source_primary_key = #{sourcePrimaryKey},
        create_time = #{createTime},
        expected_retry_time = #{expectedRetryTime},
        update_time = #{updateTime},
        status = #{status},
        content = #{realTimeSjDTOStr}
        WHERE id = #{id}
    </update>


</mapper>